{% extends 'base.html.twig' %}

{% block title %}Proposer un morceau{% endblock %}

{% block body %}
<h2>Proposer un morceau</h2>

    {{ form_start(searchForm) }}
    {{ form_widget(searchForm, {'label': " ", 'attr': {'placeholder': 'mot clé...'}}) }}
    <button class="btn btn-primary">Rechercher</button>
    {{ form_end(searchForm) }}

<div>
    <p>Si le morceau est introuvable, remplissez le formulaire ci-dessous : </p>
</div>

<div>
{{ form_start(trackForm) }}

{{ form_row(trackForm.title) }}
{{ form_row(trackForm.artist) }}
{{ form_row(trackForm.genre) }}
{{ form_row(trackForm.year) }}
<input type="submit" formnovalidate="formnovalidate" value="Envoyer">

{{ form_end(trackForm) }}
</div>


{% endblock %}
