{% extends 'base.html.twig' %}

{% block title %}Proposer un morceau{% endblock %}

{% block body %}
<h2>Proposer un morceau</h2>
<p><em>champ de recherche</em></p>
<div>
    <p>Si le morceau est intoruvable, remplissez le formulaire ci-dessous : </p>
</div>

<div>
{{ form_start(trackForm) }}

{{ form_row(trackForm.title) }}
{{ form_row(trackForm.artist) }}
{{ form_row(trackForm.genre) }}
{{ form_row(trackForm.year) }}
<input type="submit" formnovalidate="formnovalidate" value="Envoyer">

{{ form_end(trackForm) }}
</div>


{% endblock %}
