{% extends 'base.html.twig' %}

{% block title %}{{ track.title }}{% endblock %}

{% block body %}
<h2>{{ track.title }}</h2>
    <span>
        ajouté le {{ track.createdAt|date('d-m-Y') }} par {{ track.contributor }}
    </span>
        <div class="row">
                <p>Morceau interprété par : <span class="artist-name">{{ track.artist }}</span></p>
                <p>Genre : <span class="track-genre">{{ track.genre }}</span></p>
                <p>Année : <span class="track-year">{{ track.year }}</span></p>
                <p>Ajouté par : <span class="track-contrib"> 
                {% if track.contributor %}
                {{ track.contributor }}
                {% else %}
                Un utilisateur anonyme.
                {% endif %}
                </span></p>
        </div>

        <div id="artwork"></div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>const mbid = '{{ track.mbid }}';</script>
{{ encore_entry_script_tags('coverArt') }}
{% endblock %}
