{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
        <span>
        {{ article.createdAt|date('d-m-Y') }}
        </span>
                <div class="article-text">
                        {{ article.content|raw }}
                </div>

        <h3><i class="pr-3 fa fa-comment"></i>{{ article.comments|length }} Commentaires</h3>
        <hr>
        {% for comment in article.comments %}
                <div class="row">
                        <span class="commenter-name">{{ comment.author }}</span>
                        <small> {{ comment.createdAt|date('d-m-Y') }}</small>
                        {% if comment.isFlagged %}
                                <span class="fa fa-flag"></span> Commentaire en attente de modération
                        {% else %}
                                <br>
                                <span class="comment"> {{ comment.content }}</span>
                                <br>
                                <form action="{{ url('app_flag_comment', {slug: article.slug, id: comment.id}) }}" method="POST"><button name="flag">Signaler le commentaire</button></form>
                        {% endif %}
                </div>
                
        {% endfor %}

        {% if app.user %}
        {{ form_start(commentForm) }}
        {{ form_widget(commentForm) }}
        {{ form_end(commentForm) }}
        {% else %}
        <div><p>Connectez-vous pour poster un commentaire.</p></div>
        {% endif %}

{% endblock %}
