{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
        <span>
        {{ article.createdAt|date('d-m-Y') }}
        </span>
                <div class="article-text">
                        {{ article.content|raw }}
                </div>
        </div>

        <h3><i class="pr-3 fa fa-comment"></i>{{ article.comments|length }} Comments</h3>
        <hr>
        {% for comment in article.comments %}
                <div class="row">
                        <span class="commenter-name">{{ comment.author }}</span>
                        <small> {{ comment.createdAt|date('d-m-Y') }}</small>
                        {% if comment.isFlagged %}
                                <span class="fa fa-flag"></span> Signalé
                        {% endif %}
                        <br>
                        <span class="comment"> {{ comment.content }}</span>
                        <p><a href="#">Répondre</a></p>
                </div>
        {% endfor %}

{% endblock %}
