{% extends 'base.html.twig' %}

{% block title %}Modification du profil de {{ app.user.username }}{% endblock %}

{% block body %}
<!-- Page Header -->
  <header class="masthead" style="background-image: url('../../build/user.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ app.user.username }}</h1>
            <span class="subheading">Modification des informations personnelles.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% include 'flash_messages.html.twig' %}
  
<div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-10 mx-auto">
       <nav class="nav nav-tabs mb-3">
        <a class="nav-link" href="{{ path('app_user', {username: app.user.username}) }}">Voir le Profil</a>
        <a class="nav-link active" href="{{ path('app_user_edit', {username: app.user.username}) }}">Editer le Profil</a>
        <a class="nav-link" href="{{ path('app_edit_password', {username: app.user.username}) }}">Modifier le mot de passe</a>
      </nav>

            {{ form_start(userForm) }}
            {{ form_rest(userForm) }}
            {{ form_end(userForm) }}
        </div>
    </div>
</div>

{% endblock %}